html,
body {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: black;
  color: white;
}

.photos img {
  object-fit: contain; /* or cover for full fit */
  width: 100%;
  height: 100%;
}

.photos,
iframe,
video {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.photo-info {
  position: absolute;
  bottom: 0.5em;
  left: 0.5em;
  font-size: 1.5em;
  background-color: rgba(0, 0, 0, 0.5);
}

.message {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  font-size: 2em;
  color: red;
}

.progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
}

.progress-bar .progress {
  background-color: green;
  height: 100%;
}
